@import "bootstrap"; 

.container-fluid {
  width: 95%;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

a:hover {
  text-decoration: none;
  color: rgba(0,0,0,0.5);
}

.btn-sm, .btn-group-sm > .btn {
  min-width: 5em;
}

.mt-5, .my-5 {
  margin-top: 5rem !important;
}