.form-title {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 2.0em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: capitalize;
}

.error-card {
  .card {
    border: unset;
    padding: 10px 15px;
    margin-left: 12.5em;
    max-width: 38.5em;
  }
  h2 {
    font-size: 1.5em;
  }
}