.navbar {
  box-shadow: 0 3px 3px #ccc;
}

#logo {
  font-size: 1.7em;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: -1px;
  font-weight: bold;
  color: #581845;
}

#logo:hover {
  color: #000000;
  text-decoration: none;
}